# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env
.env.local
.env.*.local

# Backend specific
backend/.wwebjs_cache/
backend/.wwebjs_auth/
.wwebjs_auth/
backend/ack_log.txt
backend/uploads/

# Frontend specific
frontend/dist/
frontend/dist-ssr/
frontend/.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General logs
logs/
*.log
